
body {
  font-family: Raleway;
}

.textfont {
  font-family: Lato;
}

.clearfix::after {
content: "";
display: block;
clear: both;
}

.bring_front {
  z-index: 100;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  padding:  15px 0;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.contact {
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #FFF;
  width: 44px;
  float: right;
}

.delay {
  transition-duration: 300ms;
}

.delay:hover {
  color: #333;
}

.title_bg {
  background-color: #f2f2f2;
  width: 100%;
  padding: 250px 0 250px 0 ;
}

.wwcd_bg {
  background-color: #74cfae;
  width: 100%;
  padding-top: 50px;
}

.olw_bg {
  background-color: #f2f2f2;
  width: 100%;
  padding:60px 0 70px 0;
}

.os_bg {
  background-color: #4e4e4e;
  width: 100%;
  padding:70px 0 100px 0;
}

.links_bg {
  background-color: #f2f2f2;
  width: 100%;
  padding: 200px 0;
}

.Bolt_Theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
}

.Boothrap {
  font-size: 30px;
  color: #c0c0c0;
  margin: 20px auto 0;
  text-align: center;
}

.flex_box {
  display: flex;
}

.iphone_box {
  width: 30%;
  text-align: center;
}

.iphone{
  vertical-align: bottom;
}

.text_box {
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 70%;
}

.what_we_can_do {
  color: #fff;
  font-size: 24px;
}

.texting {
  color: #fff;
  margin: 35px 0 0 25px;
  font-size: 20px;
  line-height:30px;
}

.os_inner {
  text-align: center;
  width: 1100px;
}

.latest_word {
  font-size: 24px;
  text-align: center;
}

.made_item_inner {
  margin-top: 40px;
}

.made_item_list{
  height: 300px;
  margin-left: 100px;
  float: left;
}

.made_item_a{
  opacity: 0.7;
  display: inline-block;
}

.made_item {
  vertical-align: bottom;
  float: left;
  display: block;
}

.made_item_list .delay:hover {
  opacity: 1;
}

 .made_item_inner .made_item_list:nth-child(3n+1) {
  margin-left: 0px;
}

.made_item_inner .made_item_list:nth-child(n+4) {
  margin-top: 80px;
}

.after_box  {
  margin-top: 90px;
}

.texts  {
  width: 50%;
  text-align: center;
  padding: 0 90px;
  float: left;
}

.email  {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #FFF;
  float: left;
}

.our_skills {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.circle_text  {
  color: #fff;
  font-size: 16px;
  text-align: center
}

.circle_inner {
  margin-left: 180px;
}

.circle_inner:first-child {
  margin-left: 0;
}

.circle:last-child  {
  margin-right: 0;
}

.circle_box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.icon_box {
  display: flex;
  justify-content: center;
  text-align: center;
}

.icon_hover {
 padding:30px 0;
 width:185px;
}

.icon_hover:hover {
  background-color: #fff;
}

.gray {
  color: #4e4e4e;
}

.skyblue  {
  color: #74cfae;
}

.footer {
  padding: 20px 0 25px 0;
  background-color: #74cfae;
}

.footer_text_wraper {
  text-align: right;
}

.white  {
  color: #fff;
}
