
body {
  font-family: Raleway;
}

.textfont {
  font-family: Lato;
}

.clearfix::after {
content: “”;
display: block;
clear: both;
}

.bring_front {
  z-index: 1;
}

.header {
  position: sticky;            /* ヘッダーの固定 */
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;
  background-color: #fff;
  padding:  15px 0;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.contact {
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #FFF;
  width: 44px;
  float: right;
  padding:  14px 12px;
}

.delay {
  transition-duration: 300ms;
}

.delay:hover {
  color: #333;
}

.gray_background {
  background-color: #f2f2f2;
  width: 100%;
}

.gray_background:first-of-type {
  padding: 320px 0 250px 0 ;
}

.gray_background:nth-of-type(3) {
  padding:60px 0 70px 0;
}

.gray_background:last-of-type {
  padding: 200px 0;
}

.Bolt_Theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
}

.Boothrap {
  font-size: 30px;
  color: #c0c0c0;
  margin: 20px auto 0;
  text-align: center;
}

.skyblue_background {
  background-color: #74cfae;
  width: 100%;
  padding-top: 50px;
}

.flex_box {
  display: flex;
}

.iphone {
  width: 38%;
  text-align: center;
}

.text_box {
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 68%;
}

.what_we_can_do {
  color: #fff;
  font-size: 24px;
}

.texting {
  color: #fff;
  padding: 35px 0 0 25px;
  font-size: 20px;
}

.latest_word {
  font-size: 24px;
  text-align: center;
}

.made_item_inner {
  margin-top: 40px;
  font-size: 0;
}

.made_item {
  margin-left: 100px;
  opacity: 0.7;
  display: inline-block;
  position: relative;
}

.made_item_inner .delay:hover {
  opacity: 1;
}

 .made_item_inner .made_item:nth-child(3n+1) {
  margin-left: 0px;
}

.made_item_inner .made_item:nth-child(n+4) {
  margin-top: 80px;
}

.after_box  {
  padding-top: 90px;
  display: flex;
  justify-content: center;
}

.texts  {
  width: 42%;
  text-align: center;
  margin-right:90px;
}

.email  {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #FFF;
  width: 5%;
  height: 10px;
}

.our_skills {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.black_background {
  background-color: #4e4e4e;
  width: 100%;
  padding:70px 0 100px 0;
}

.circle_text  {
  color: #fff;
  font-size: 16px;
  margin: 16px 0 0 25px;
}

.circle_inner {
  margin-left: 180px;
}

.circle_inner:first-child {
  margin-left: 0;
}

.circle:last-child  {
  margin-right: 0;
}

.circle_box {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.icon_box {
  display: flex;
  justify-content: center;
  text-align: center;
}

.icon_hover {
 padding:40px 0;
 width:185px;
}

.icon_hover:hover {
  background-color: #fff;
}

.gray {
  color: #4e4e4e;
}

.skyblue  {
  color: #74cfae;
}

.footer {
  padding: 20px 0 25px 0;
  background-color: #74cfae;
}

.footer_text_wraper {
  text-align: right;
}

.white  {
  color: #fff;
}
